.cartMain {
  padding-top: 5vh;
  width: 100%;
  overflow: hidden;
}
.cartMain .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--bg);
  gap: 20px;
  color: white;
  margin: 0 auto;
  width: 93%;
  padding: 50px;
  justify-content: space-between;
  position: relative;
}
.emptyCart {
  padding-top: 20px;
  font-size: 23px;
  color: rgb(164, 163, 163);
}
@media (max-width: 1150px) {
  .cartMain .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    padding-top: 60px;
  }
  .cartMain .container .Page-details {
    width: 100%;
  }
  .pageTitle-qun span:first-child,
  .pageTitle-qun span:nth-child(2) {
    display: none;
  }
  .cartMain .container .pageTitle-Inc {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: fit-content;
  }
  .itemIn-page {
    display: flex;
    justify-content: space-between;
  }
  .pageTitle-Inc .pageTitle-quantity .counts-in-increase {
    font-size: 15px;
    width: 70px;
    margin-left: 20px;

    /* margin-right: 20px; */
  }
  .pageTitle-Inc .total-inPage {
    padding-left: 35px;
  }
  .pageTitle-Inc .action-inPage {
    padding-left: 15px;
  }
}
.main-shoppingCart {
  font-size: 38px;
  position: absolute;
  top: -5px;
}
.Page-details {
  width: 70%;
  min-height: 450px;
  /* max-height: fit-content; */
  padding: 5px 10px;
  border: 3px solid var(--mainColor);
  border-radius: 25px;
  color: var(--text);
  overflow: hidden;
}
.pageTitle-header {
  display: flex;
  padding: 15px 0;
  border-bottom: 2px solid black;
}
.title-product {
  width: 35%;
  text-align: left;
}
.pageTitle-qun {
  display: flex;
  width: 65%;
}
.pageTitle-qun span {
  flex: 1;
  text-align: right;
  /* background-color: red; */
  /* padding: 10px; */
}
.itemIn-page {
  display: flex;
  align-items: center;
  padding: 8px 10px 8px 0;
  border-bottom: 3px solid var(--mainColor);
  padding-bottom: 10px;
  will-change: transform;
}
.itemIn-page:last-child {
  border: none;
}
/* div of img in main cart items */
.main-productIn-page {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 35%;
  text-align: left;
}
.main-productIn-page img {
  width: 100px;
  border-radius: 15px;
}
.main-productP {
  color: rgb(159, 159, 159);
  font-size: 15px;
  padding-top: 5px;
}
/* main of left side of image in main cart  */
.pageTitle-Inc {
  display: flex;
  align-items: center;
  width: 65%;
}
.pageTitle-Inc div {
  flex: 1;
  text-align: right;
}
/* .pageTitle-quantity {
  display: flex;
  justify-content: flex-end;
  } */
.total-inPage {
  font-size: 20px;
  font-weight: bold;
  margin-left: 15px;
}
.counts-in-increase {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid var(--text);
  height: 30px;
  width: 90px;
  border-radius: 15px;
  color: var(--text);
  margin-left: 125px;
  font-weight: bold;
}
button.plusAndMines {
  transition: 0.4s ease;
}
button.plusAndMines:hover {
  scale: 1.1;
  transform: translateY(-1px);
}
.counts-in-increase button {
  width: 15px;
  height: 15px;
  border: none;
  color: var(--text);
  font-size: 20px;
  background-color: transparent;
  margin-bottom: 8px;
  cursor: pointer;
}
.action-inPage {
  margin-right: 5px;
  cursor: pointer;
}
/* payment */
.payment {
  width: 30%;
  border: 3px solid var(--mainColor);
  height: 450px;
  padding: 10px;
  margin-left: 20px;
  border-radius: 25px;
}
@media (max-width: 1100px) {
  .cartMain .container .payment {
    width: 100%;
    margin: 0 auto;
  }
  .pageTitle-Inc .pageTitle-quantity .counts-in-increase {
    margin-left: 60px;
    font-size: 15px;
    width: 70px;
  }
  .container .payment .inputPayment .voucher {
    width: 60%;
  }
  .container .payment .inputPayment .apply {
    width: 30%;
  }
}
.inputPayment {
  display: flex;
  gap: 10px;
  width: 100%;
  margin: 20px 0;
}
.payment-heading h1 {
  padding: 8px;
  font-size: 25px;
  color: var(--text);
}
.inputPayment .voucher {
  flex: 2;
  padding: 10px;
  font-size: 15px;
}
.inputPayment .apply {
  flex: 1;
  cursor: pointer;
  transition: 0.4s ease;
  font-size: 15px;
}
.inputPayment .apply:hover {
  background-color: var(--mainColor);
  color: white;
}
.inputPayment .voucher,
.apply {
  display: block;
  border: 2px solid var(--text);
  border-radius: 25px;
  height: 35px;
  background-color: var(--bg);
  color: var(--text);
}
.text-payment {
  display: flex;
  flex-direction: column;
}
.text-payment .InText {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  color: var(--text);
}
.text-payment .InText:nth-child(3) {
  border-bottom: 1px solid var(--text);
}
.text-payment .InText:nth-child(4) {
  margin-top: 10px;
}
.text-payment .InText:nth-child(4) .one-text-payment {
  font-size: 15px;
  font-weight: bold;
}
.text-payment .InText:nth-child(4) .two-text-payment {
  font-size: 23px;
}
.text-payment .InText .one-text-payment {
  font-size: 16px;
}
.text-payment .InText .two-text-payment {
  font-weight: bold;
}
.limited {
  margin-top: 10px;
  font-size: 18px;
  color: var(--text);
  text-align: center;
  line-height: 1.3;
}
.payment-footer {
  width: 100%;
  margin-top: 35px;
  display: flex;
  justify-content: center;
}
.payment-footer button {
  width: 100%;
  background-color: var(--mainColor);
  border: none;
  padding: 15px;
  color: white;
  font-size: 16px;
  border-radius: 35px;
  cursor: pointer;
}
.footer-payment {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15vh 40px;
}
@media (max-width: 768px) {
  .footer-payment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    gap: 20px;
  }
  .footer-payment .footer-links {
    gap: 5px;
  }
  .cartMain .footer-payment .footer-links a {
    font-size: 15px;
    width: 35px;
    height: 35px;
  }
  .footer-copy-right {
    font-size: 10px;
    max-width: 350px;
    margin-top: 15px;
  }
}
.footer-payment .footer-links {
  display: flex;
  gap: 20px;
}
.footer-payment .footer-links a {
  padding: 10px;

  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border: 1px solid var(--text);
  border-radius: 25px;
  color: var(--text);
  text-align: center;
  transition: 0.4s ease;
  position: relative;
}

.footer-payment .footer-links a::before {
  content: "";
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--mainColor);
  width: 60px;
  height: 30px;
  border-radius: 35px;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  font-size: 15px;
  z-index: 2;
}
.footer-links a.facebook::before {
  content: "Facebook";
  font-size: 10px;
}

.footer-links a.instagram::before {
  content: "Instagram";
  font-size: 10px;
}

.footer-links a.twitter::before {
  content: "WhatsApp";
  font-size: 10px;
}

.footer-links a.linkedin::before {
  content: "LinkedIn";
  font-size: 10px;
}
.footer-payment .footer-links a::after {
  content: "";
  position: absolute;
  top: -13px;
  left: 38%;
  transform: translateX(-50%);
  background-color: var(--mainColor);
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  z-index: 3;
  border-bottom-right-radius: 2px;
  visibility: hidden;
  z-index: 1;
}

.footer-payment .footer-links a:hover {
  background-color: var(--mainColor);
  color: white;
  border: 1px solid var(--mainColor);
  transform: scale(1.2);
}
.footer-payment .footer-links a:hover::before {
  visibility: visible;
  background-color: var(--mainColor);
}
.footer-payment .footer-links a:hover::after {
  visibility: visible;
  background-color: var(--mainColor);
}
.footer-copy-right {
  height: 100%;
  padding: 5px;
  max-width: 200px;
  line-height: 1.6;
  font-weight: bold;
  margin-left: auto;
  color: var(--text);
}
span.copyright {
  font-size: 12px;
  margin-right: 2px;
}
@media (max-width: 768px) {
  span.copyright {
    font-size: 9px;
  }
}
