* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  background-color: var(--nav);
  backdrop-filter: blur(10px);
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0.111px 8px var(--shadow);
  width: 100%;
  z-index: 400;
}
header .navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 7%;
}
@media (max-width: 1000px) {
  header {
    margin-right: 30px;
  }
  header .navLinks {
    width: 100%;
    margin-left: 15px;
    gap: 10px;
  }
  header .navLinks ul {
    gap: 5px;
  }

  .burgerMenu {
    width: 40px;
    height: 40px;
    margin-right: 33px;
  }
}
.navLinks ul {
  display: flex;
  border-radius: 30px;
  position: relative;
  /* gap: 5px; */
  background-color: var(--mainColor);
  padding: 5px;
  width: fit-content;
}
.navLinks ul a {
  color: white;
  font-size: 20px;
  transition: 0.4s ease;
  padding: 10px;
  z-index: 1;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

@media (max-width: 768px) {
  .navLinks ul a {
    font-size: 18px;
  }
}

.navLinks ul a::before {
  content: "";
  background-color: rgba(228, 227, 227, 0.588);
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.6s ease;
  z-index: -1;
  border-radius: 30px;
  transition: 0.6s ease;
}

.navLinks ul a:hover::before {
  width: 100%;
}
.navLinks ul a.active {
  color: var(--mainColor);
  background-color: rgba(228, 227, 227, 0.588);
  transition: 0.4s ease;
  border-radius: 30px;
}
.navLinks ul a:hover {
  color: white;
}
.navLinks .right {
  display: flex;
  gap: 10px;
}
.darkMode {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  position: relative;
  cursor: pointer;
  transition: 0.4s ease;
  color: var(--text);
  font-size: 23px;
  background-color: transparent;
}
.cart {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  position: relative;
  cursor: pointer;
  transition: 0.4s ease;
  color: var(--bgHover);
  background-color: transparent;
}

.burgerMenu {
  color: var(--text);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  transition: 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
}
.darkMode,
.cart,
.burgerMenu {
  width: 40px;
  height: 40px;
}
.cart .icon {
  position: relative;
  top: 1px;
  font-size: 23px;
  color: var(--text);
  transition: 0.4s ease;
}
.countOfCart {
  position: absolute;
  top: -2px;
  right: -2px;
  padding: 3px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  color: var(--text);
  font-size: 12px;
  background-color: var(--greenWhite);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .countOfCart {
    width: 15px;
    height: 15px;
    font-size: 10px;
    font-weight: bold;
    top: -2px;
    right: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
  }
  .darkMode,
  .cart,
  .burgerMenu {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
}

/* .cart:hover,
.darkMode:hover,
.burgerMenu:hover {
  color: white;
  background-color: var(--mainColor);
  box-shadow: 0 0 10px rgba(8, 130, 149, 0.31);
} */

/* .cart.active {
  background-color: var(--mainColor);
  box-shadow: 0 0 10px rgba(8, 130, 149, 0.31);
} */

/* .cart:hover > .icon {
  color: white;
} */
.logo {
  font-size: 30px;
  font-weight: bold;
}
.logo a {
  color: var(--text);
  transition: 0.4s ease;
  font-family: "Titan One", sans-serif;
  font-weight: 100;
  letter-spacing: 0.5px;
}
.logo a:hover {
  color: var(--mainColor);
  text-shadow: 0 0 5px var(--greenWhite);
}
@media (max-width: 768px) {
  .logo {
    font-size: 24px;
  }
}
